services:
  engine:
    image: ghcr.io/noumenadigital/images/engine:latest
    ports:
      - "11000:11000"
      - "12000:12000"
      - "12400:12400"
      - "12700:12700"
    environment:
      ENGINE_DB_PASSWORD: welcome123
      ENGINE_DEV_MODE: true
    volumes:
      - ./users.yml:/etc/noumena/oidc-users.yaml
